In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")

In [4]:
import spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp("Apple is looking at buying U.K. startup for $1 billion")

for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

Apple 0 5 ORG
U.K. 27 31 GPE
$1 billion 44 54 MONEY

In [11]:
import pandas as pd
df=pd.read_csv('groups_apt.csv')

In [12]:
df.columns

Index(['Unnamed: 0', 'Name', 'Alias', 'description'], dtype='object')

In [13]:
entities=[]
for i in df['description']:
    doc=nlp(i)
    temp=[]
    for ent in doc.ents:
        temp.append([ent.text,ent.label_])
    entities.append(temp)

In [14]:
df=pd.DataFrame({'Description':df['description'],'Entities':entities})
df.to_csv('desc_entties.csv')

In [5]:
df['description'][89]

'Thrip is an espionage group that has targeted satellite communications, telecoms, and defense contractor companies in the U.S. and Southeast Asia. The group uses custom malware as well as "living off the land" techniques.'

In [23]:
str(entities[89]).replace('[','').replace(']','')

"'U.S.', 'GPE', 'Southeast Asia', 'LOC'"

In [26]:
apt=pd.DataFrame({'Desc':df['description'],'Entities':entities})

In [45]:
apt['Entities'].apply(pd.Series)

                                                    0
0   [['admin@338', 'ORG'], ['China', 'GPE'], ['Poi...
1   [['APT1', 'ORG'], ['Chinese', 'NORP'], ['the 2...
2                [['APT12', 'ORG'], ['China', 'GPE']]
3   [['China', 'GPE'], ['Japanese', 'NORP'], ['Tai...
4                 [['China', 'GPE'], ['U.S.', 'GPE']]
..                                                ...
89       [['U.S.', 'GPE'], ['Southeast Asia', 'LOC']]
90  [['Tropic Trooper', 'ORG'], ['Taiwan', 'GPE'],...
91  [['Turla', 'ORG'], ['Russian', 'NORP'], ['45',...
92  [['Winnti Group', 'ORG'], ['Chinese', 'NORP'],...
93  [['WIRTE', 'ORG'], ['at least August 2018', 'D...

[94 rows x 1 columns]

In [ ]:
apt['Entities']=apt['Entities'].astype(str)
apt['Entities'].str.split(']',n=10,expand=True)